<section class="bio">
  <p>Daria Babiychuk - Contemporary Figurative Artist</p>
  <h1>I am a Ukrainian figurative artist talking about things that touch me personally.</h1>
  <p>
    Daria Babiychuk - I was born and raised in a small town in the southern part of Ukraine called Sevas. In 2013
    graduated from the graphic design department of Lviv Polytechnic National University. I began my artistic journey in
    2020 with my first solo show in Lviv. Since that time I participated in various group shows in Ukraine and around
    the world including New York (2022), London (2022), Madrid (2022), Beijing (2022), Los Angeles (2021), Golden Coast
    (2021), Berlin (2021). Upcoming shows in 2022 include «UPRISING » group show (Schloss Goerne), Kristin Hjellegjerde
    gallery solo show (London), Circle Culture solo show (Berlin) With my figurative and naive artworks I give an
    innocent and easy voice to the world problems that touch me personally. I am exploring woman body as both feminine
    and masculine, empowering equality and interconnection as well as constantly seeking and developing the way to add
    traditional Ukrainian motifs in a fresh new visual forms and cultivating Ukrainian primitivism art. Currently living
    in Lviv, Ukraine.
  </p>
</section>
