<section class="bio">
  <h1>
    Welcome to my world! <br />
    My name is Darya Babiychuk.
  </h1>
  <p>
    Art is an important part of my life, I feel that it can give some light and hope for a viewer. All my art is about
    light and darkness, faith and fear, love and loneliness, life and death. I really believe in balance. All my heroes
    are individuals, that feel pretty comfortable with their selves, but when they unite — a magic happens.

    <br />
    <br />
    I’m a Ukrainian artist. I started my way as an artist in 2020. I was lost in my thoughts, wishes and directions of
    personal realization. One evening I was so upset and felt that I want to say something without words. Sometimes
    words are senseless. Canvas and paints are never.
    <br />
    <br />

    In my art I want to give freedom for each character and let them be as they are. Freedom is an important feeling
    that give us strength in our choices, being, life. Without freedom life is a cage. I think a lot about philosophic
    things: how and why the fear borns in our souls; how people forget who they truly are; about illusory control of our
    lives, about addictions and, of course, about love. I believe in love. It’s something that gives colors: dark and
    light ones.
    <br />
    <br />

    I know that love, kindness and hope always win. I know, that light wins darkness. And, as a mentioned in the
    beginning, I can’t imagine life without hope and faith. All my art is about it. About the inner light, that lives in
    each of us. Sometimes you just need to open your beautiful eyes to see it face to face. And my art is a reminder,
    that despite the negative or positive Spector of human’s feeling we are not alone. Because love is impossible
    without a knowledge what “darkness” is. You will never understand what light is, without darkness. Balance. Love.
    Freedom. And peace. To all beautiful people and animals and n our planet.
  </p>
</section>
