.nav-bar {
  background-color: #fff;
  height: 100vh;
}

ul {
  padding: 4em;
  height: 100%;

  li {
    margin: 2em;
  }
}

@media screen and (max-width: 550px) {
  .nav-bar {
    display: none;
  }
}
