<section class="wrapper">
  <p routerLink="/gallery">⯇ back</p>
  <h1>{{ painting.title }}</h1>
  <div class="painting">
    <img [src]="painting.imgUrl" alt="painting.title" />
    <div class="text">
      <div>
        <p>{{ painting.available ? 'Avaible' : 'Sold' }}</p>
        <p class="description">{{ painting.description }}</p>
        <!-- <button class="common-btn edit" (click)="toggleDrawer()">{{ drawerState ? 'close' : 'edit' }}</button>
        <button class="common-btn delete" (click)="onDelete()">delete</button> -->
      </div>
      <div>
        <p class="contact-me">In case you have any questions or interested in a particular artwork please contact me</p>
      </div>
    </div>
  </div>
</section>
<div [class.openDrawer]="drawerState" class="drawer">
  <app-edit-painting [painting]="painting"></app-edit-painting>
</div>
