.feed {
  margin: 0 auto;
  width: 50vw;
}

h1 {
  margin: 4em 0;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 60%;
  height: 400px;
  margin: 2rem;
}
