<section class="gallery">
  <h1>Check out my art work</h1>
  <button class="common-btn" (click)="toggleDrawer()">{{ drawerState ? 'close' : 'add painting' }}</button>

  <div class="paintings">
    <ng-container *ngIf="paintings$ | async as paintings">
      <div [routerLink]="[painting.id]" *ngFor="let painting of paintings.slice().reverse()" class="painting">
        <img [src]="painting.imgUrl" alt="painting.title" />
      </div>
    </ng-container>
  </div>
</section>

<div [ngClass]="{ openDrawer: drawerState }" class="drawer">
  <app-add-painting></app-add-painting>
</div>
