* {
  box-sizing: border-box;
  font-size: 16px;
  padding: 0;
  margin: 0;
}
h1 {
  font-size: 30px;
  font-family: 'Anonymous Pro';
}

p,
li {
  font-size: 18px;
  font-family: 'Montserrat';
  list-style: none;
}
